<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand text-white fs-4 fw-bold" href="#">Shopping Cart</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white fs-5 active" aria-current="page" href="/products">Home</a>
        </li>
        <% if(currentUser && currentUser.role === 'seller'){ %>
          <li class="nav-item">
              <a class="nav-link text-white fs-5" href="/product/new">New</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fs-5" href="/seller/products" style="font-weight: bold; color: #ff9800; background-color: #333; border-radius: 5px; padding: 5px 10px;">Your Products</a>
          </li>
        <% } %>
      </ul>

      <!-- Centered Search Form -->
      <div class="d-flex justify-content-center flex-grow-1">
        <form class="d-flex" role="search" action="/search" method="get">
          <input class="form-control me-2 rounded-pill" type="search" name="q" placeholder="Search for products..." aria-label="Search" value="<%= query %>">
          <button class="btn btn-outline-success rounded-pill" type="submit">Search</button>
        </form>
      </div>

      <div class="d-flex">
        <% if (!currentUser) { %>
          <a href="/login" class="btn btn-outline-light mx-2 fs-5 px-4 py-2 rounded-pill">LOGIN</a>
        <% } else { %>
          <div class="d-flex align-items-center justify-content-between w-100">
            <!-- User Greeting -->
            <a href="#" class="nav-link text-white fs-5 mx-2 font-weight-bold">Hello, <%= currentUser.username %></a>

            <!-- Cart Icon with Item Count -->
            <a href="/user/cart" class="nav-link text-white fs-5 mx-2 d-flex align-items-center position-relative">
              <i class="fa-solid fa-cart-shopping fs-3 me-2"></i>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                <%= currentUser.cart.length %>
              </span>
            </a>

            <!-- Logout Button -->
            <a href="/logout" class="btn btn-outline-light mx-2 fs-5 px-4 py-2 rounded-pill">LOGOUT</a>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</nav>
